<div class="container">
    <div hx-ext="sse" hx-sse="connect:/sse">
        <!-- this just swaps out the div whenever sse is posted -->
        <!-- try api/broadcast/sse -->
        <div sse-swap="message" >connecting...</div>
    </div>
</div>

