<div class="timeline-container">
    <h2 class="card_label">Timeline</h2>
    <timeline>
        <node data-status='complete'>
            <a hx-get="/api/recentNotes" hx-trigger="click" class="title">Started learning on Quizlet</a>
            <a class="details">Add your courses to see what others might be studying</a>
            <a class="timestamp">May 22, 2019</a>
        </node>
        <node data-status='incomplete'>
            <a class="title">Update your profile</a>
            <a class="details">Add your courses to see what others might be studying</a>
            <a class="timestamp"></a>
        </node>
    </timeline>
</div>
